/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
 .notice{
 	color: green;
 }

body{
	background-color: #fff;
	font-family: verdana, arial, helvetica,sans-serif;
	font-size: 13px;
	line-height: 18px;
	margin: 33px;
	color:#333;
}

h1{
	display: block;
    font-weight:bold;
	margin:17px 0;

    }

h2{
	margin:16px 0;
}

p,td,ul{
	display: block;
	font-family: verdana, arial, helvetica,sans-serif;
	font-size: 13px;
	line-height: 18px;
	margin: 33px;

}
strong{
	font-weight: bold;
}

.btn{
	display: block;
	cursor: pointer;
	color: gray;
	height: 16px;
	width: 30.38px;
	display: inline-block;

}
.btn:hover{
	background-color: black;
	color:white;
}
.notice{
	margin:33px;
	color: green;
}
thead{
	height: 28px;
	width:690px;
}
th{
padding-bottom: 5px;
 text-align: center;
 font-weight: bold;
}
.th1{
  width: 138px;
}

.th2{
	width: 397px;
}



td{
	height: 26px;
	padding: 0px 1px 5px 7px;
	color: black;
}
.td1{
	width:189px;
}

.td2{
	width:397px;

}
.link{
	color: black;
}
.link:hover{
	background-color: black;
	color: white;
   }

label{
	display: block;
}
.field,.action{
	margin-bottom: 10px
}

#error_explamation{
	width:450px;
	border:2px solid red;
	padding:7px;
	padding-bottom: 0px;
	margin-bottom:  20px;
	background-color: #f0f0f0;
   }

  #error_explamation h2{
	  text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0;
    background-color: #c00;
    color: #fff;

}

#error_explanation ul li {
    font-size: 12px;
    list-style: square;
}


.field_with_errors{
    padding: 2px;
    background-color: red;
    display: table;

}
